<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mycss.css}">


</head>
<body>
<h1>Pharmacy List</h1>
<table class ="table table-dark">
    <thead>
    <tr>

        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
       <!-- <th scope="col">Registration Number</th>-->
        <!--<th scope="col">Drug</th>-->
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : *{branches}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td th:text="${row.getPhoneNumber()}"></td>
       <!-- <td th:text="${row.getDrug()}"></td>-->
        <td><a th:href="@{/pharmacies/edit/{id}(id=${row.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>
        <td><a th:href="@{/pharmacies/delete/{id}(id=${row.getId()})}"><button class="btn-danger" name="button">Delete</button></a></td>
    </tr>
    </tbody>
</table>


</body>
</html>